[Unit]
Description=Systemd notication on failure

[Service]
Type=oneshot
ExecStart=/usr/local/bin/systemd-notif {{ systemd_notification_on_failure_recipient }} %i
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ systemd_notification_on_failure_service_name }}
User=nobody
Group=systemd-journal
