#!/bin/bash

slack_notif(){
curl -X POST --data-urlencode "payload={\"username\":\"SYSTEMD-Notification\",\"channel\":\"{{ systemd_notification_on_failure_slack_channel }}\",\"icon_emoji\": \":ghost:\",\"text\":\"ERROR on $HOSTNAME : $*\"}" {{ systemd_notification_on_failure_slack_webhook }}
}

sendmail -t <<ERRMAIL
To: $1
From: systemd <root@$HOSTNAME>
Subject: $2
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

$(systemctl status --full "$2")
ERRMAIL

{% if systemd_notification_on_failure_slack_enabled is defined and systemd_notification_on_failure_slack_enabled is True %}
slack_notif $2 $(systemctl status --full "$2" | tr '\n' '~' | sed -e 's#~#\\n#g')
{% endif %}